name: Unit tests (macOS)

on: [push]

env:
  SKIP_RENDERING: "true"

jobs:
  build:
    strategy:
      matrix:
        os: ["macos-13", "macos-latest"]
        python-version: ["3.12"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup upsterm session
        uses: lhotari/action-upterm@v1
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip cache purge
          pip install -e ".[dev,examples]"
      - name: Test with pytest
        run: |
          python -m pytest